* {
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Quicksand', sans-serif;
    src: url(C:\Users\victo\Programming\intro-to-programming-eclipse\Anton,Lobster,Pacifico,Playfair_Display_SC,Press_Start_2P,etc.zip)
}

#imgAndLogo {
    position: relative;
}

#headshot {
    /* opacity: 1; */
    border: thick outset #006989;
    border-radius: 15%;
    padding: 0;
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* transition: .5s ease;
    backface-visibility: hidden; */
}

/* #initials {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#imgAndLogo:hover #headshot {
    opacity: 0.3;
}

#imgAndLogo:hover #initials {
    opacity: 1;
}

#initials {
    background-color: #9fdaf5;
    color: #9e424e;
    font-family: 'Lobster', cursive;
    font-size: 1em;
    padding: 16px;
    border: 5px solid #9fdaf5;
    border-radius: 100%;
} */

#wholeContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#topNav {
    background-color: #9e424e;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    width: 95vw;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navLinks {
    display: flex;
    justify-content: space-around;
}

#topNav a {
    color: #9fdaf5;
    /* display: inline-block; */
    border: 2px solid #9fdaf5;
    padding: 4px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    width: fit-content;
}

#topNav a:hover {
    background-color: #9fdaf5;
    color: #9e424e;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #9e646c;
    color: #9fdaf5;
    font-family: 'Quicksand';
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
    align-items: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 70px;
    text-shadow: 3px 3px 2px black;
}

h2 {
    font-family: 'Press Start 2P';
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    background-color: #9e424e;
    max-width: max-content;
    border: 10px solid #9e424e;
    border-radius: 15px;
}

h2#pronouns {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    border: none;
}

section .skillLvlUp {
    text-transform: uppercase;
    text-align: center;
    padding: .20rem .75rem;
    width: fit-content;
    background-color: #0090b8;
    border: thick outset #006989;
    border-radius: 10px;
    margin: 0px 10px;
    list-style-type: none;
}

.skillsContainer {
    display: flex;
    justify-content: center;
}

ul .exLvlUp {
    padding: .25rem;
    background-color: #0090b8;
    border: thick outset #006989;
    border-radius: 15px 0px 15px 0px;
    margin: 5px;
}

.expContainer {
    display: flex;
    flex-direction: column;
}

li.exLvlUp {
    display: flex;
    justify-content: space-between;
}

#projects li {
    list-style-type: none;
    text-transform: capitalize;
}

#projects a {
    font-weight: lighter;
    color: #9fdaf5;
    font-family: 'Quicksand';
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}

#projects a:hover {
    font-weight: bolder;
    color: #006989;
    font-family: 'Quicksand';
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
}

#messageForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: .5rem 1rem;
    width: 50%;
    background-color: #c4828b;
    border: solid #363434;
    border-radius: 15px;
    margin: .25rem;
}

section .msgInput {
    color: #363434;
    font-family: 'Pacifico';
    text-shadow: none;
    text-transform: uppercase;
}

input[type=text], input[type=email] {
    display: flex;
    width: 90%;
    margin: 2px 0;
    border: 2px solid black;
    border-radius: 15px;
    flex-grow: 1;
}

input[type=text]:focus, input[type=email]:focus {
    outline: none;
}

textarea {
    width: 90%;
}

button {
    color: #BA916D;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #5F2623;
    border-radius: 15px;
    width: fit-content;
    margin: 1.5px 0;
}

ul#listOfMessages {
    display: flex;
    list-style-type: none;
    align-items: stretch;
}

.newMessage {
    padding: .25rem;
    background-color: #0090b8;
    border: thick outset #006989;
    border-radius: 15px 0px 15px 0px;
    margin: 5px;
    flex: 1;
}

p, ul {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 2rem;
}

#contactList {
    border: thin solid #006989;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    font-weight: bold;
    text-shadow: none;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

#copyright {
    margin-bottom: 0;
    border: thin solid #006989;
    border-radius: 15px;
    width: fit-content;
    display: flex;
}

footer {
    margin: 1px;
    background-color: #c4828b;
    border-radius: 15px;;
    padding: 1px 1.5px;
}

#contactList a:hover {
    font-weight: bolder;
    color: #006989;
    font-family: 'Quicksand';
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
}

#footerContainer {
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 1px;
    background-color: #c4828b;
    border-radius: 15px;;
    padding: 1px 8px;
}

@media (max-width: 1000px) {
    * {
        flex-wrap: wrap;
    }
}
